[submodule "keep_off_the_grass/libs/Catch2"]
	path = keep_off_the_grass/libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "olymbits/bronze/libs/Catch2"]
	path = olymbits/bronze/libs/Catch2
	url = https://github.com/catchorg/Catch2.git
